fastapi
uvicorn
gunicorn
pandas
numpy
scikit-learn
joblib
requests
google-generativeai
python-dotenv
xgboost
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
pydantic-settings
